      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1537019620 {
    /* customize your Goodreads widget container here*/
    border: 0px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #000000;
    
  }
  .gr_custom_header_1537019620 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 150%
  }
  .gr_custom_each_container_1537019620 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1537019620 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
      float: left;
      margin-right: 4px;
      width: 98px;
  }
  .gr_custom_author_1537019620 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1537019620 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1537019620 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1537019620">
          <div class="gr_custom_container_1537019620">
    <h2 class="gr_custom_header_1537019620">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/6106387-danish-kamaal?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Books I am currently reading</a>
    </h2>
      <div class="gr_custom_each_container_1537019620">
          <div class="gr_custom_book_container_1537019620">
            <a title="Sapiens: A Brief History of Humankind" rel="nofollow" href="https://www.goodreads.com/review/show/2214894903?utm_medium=api&amp;utm_source=custom_widget"><img alt="Sapiens: A Brief History of Humankind" border="0" src="https://images.gr-assets.com/books/1420585954m/23692271.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1537019620">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1537019620">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2214894903?utm_medium=api&amp;utm_source=custom_widget">Sapiens: A Brief History of Humankind</a>
          </div>
          <div class="gr_custom_author_1537019620">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/395812.Yuval_Noah_Harari">Yuval Noah Harari</a>
          </div>
          <div class="gr_custom_tags_1537019620">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1537019620">
          <div class="gr_custom_book_container_1537019620">
            <a title="The Handmaid's Tale" rel="nofollow" href="https://www.goodreads.com/review/show/2074908902?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Handmaid's Tale" border="0" src="https://images.gr-assets.com/books/1498057733m/38447.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1537019620">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1537019620">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2074908902?utm_medium=api&amp;utm_source=custom_widget">The Handmaid's Tale</a>
          </div>
          <div class="gr_custom_author_1537019620">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/3472.Margaret_Atwood">Margaret Atwood</a>
          </div>
          <div class="gr_custom_tags_1537019620">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1537019620">
          <div class="gr_custom_book_container_1537019620">
            <a title="Mastering Bitcoin: Unlocking Digital Cryptocurrencies" rel="nofollow" href="https://www.goodreads.com/review/show/2067577854?utm_medium=api&amp;utm_source=custom_widget"><img alt="Mastering Bitcoin: Unlocking Digital Cryptocurrencies" border="0" src="https://images.gr-assets.com/books/1442827950m/23819220.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1537019620">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1537019620">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2067577854?utm_medium=api&amp;utm_source=custom_widget">Mastering Bitcoin: Unlocking Digital Cryptocurrencies</a>
          </div>
          <div class="gr_custom_author_1537019620">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/8115718.Andreas_M_Antonopoulos">Andreas M. Antonopoulos</a>
          </div>
          <div class="gr_custom_tags_1537019620">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1537019620">
          <div class="gr_custom_book_container_1537019620">
            <a title="Dune (Dune Chronicles, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/1786558103?utm_medium=api&amp;utm_source=custom_widget"><img alt="Dune" border="0" src="https://images.gr-assets.com/books/1434908555m/234225.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1537019620">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1537019620">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/1786558103?utm_medium=api&amp;utm_source=custom_widget">Dune</a>
          </div>
          <div class="gr_custom_author_1537019620">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/58.Frank_Herbert">Frank Herbert</a>
          </div>
          <div class="gr_custom_tags_1537019620">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1537019620">
          <div class="gr_custom_book_container_1537019620">
            <a title="East of Eden" rel="nofollow" href="https://www.goodreads.com/review/show/1627757999?utm_medium=api&amp;utm_source=custom_widget"><img alt="East of Eden" border="0" src="https://images.gr-assets.com/books/1441547516m/4406.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1537019620">
            <span class=" staticStars"><img src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1537019620">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/1627757999?utm_medium=api&amp;utm_source=custom_widget">East of Eden</a>
          </div>
          <div class="gr_custom_author_1537019620">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/585.John_Steinbeck">John Steinbeck</a>
          </div>
          <div class="gr_custom_tags_1537019620">
            tagged:
            currently-reading
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Danish, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/6106387.Books%20I%20am%20currently%20reading?cover_position=left&cover_size=medium&num_books=10&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1537019620&widget_text_color=000000&widget_title_size=large&widget_width=full" type="text/javascript" charset="utf-8"></script>